<!-- footer.ejs -->

<footer class="footer mt-auto pt-4 "  style=" background-color: #020513;">
    <div class="container text-white">
      <div class="row">
        <div class="col-md-6">
          <p>Todos los derechos reservados &copy; 2023 Mi Tienda</p>
        </div>
        <div class="col-md-6 text-md-right">
          <a href="#" class="text-white">Política de privacidad</a> | <a href="#" class="text-white">Términos y condiciones</a>
        </div>
      </div>
    </div>
  </footer>
  