<!-- footer.ejs -->

<footer class="footer mt-auto pt-4 "  style=" background-color:#333132;">
    <div class="container text-white">
      <div class="row">
        <div class="col-xl-4 col-md-4 text-left">
        <h3>Servicio Clientes</h3>
        <p>Preguntas frecuentes</p>
        <p>solicita informacion</p>
        <p>Reclamos</p>
      
        </div>
        <div class=" col-xl-5 col-md-4 text-left">
         <h4>L.P.P</h4>
         <p>Sitio web</p>
         <p>Trabaja con nosotros</p>
         <p>Tienda oficial</p>
        </div>
        <div class=" col-xl-3 col-md-4 text-md-left text-center flex justify-content-center">
         <h3 class="mb-2">Redes Sociales</h3>
         <a class="p-2" href=""><img src="../iconos/instagram.svg" alt="" height="35px"></a>
         <a class="p-2" href=""><img src="../iconos/tiktok.svg" alt="" height="35px"></a>
         <a class="p-2" href=""><img src="../iconos/xt.svg" alt="" height="35px"></a>
         <a class="p-2" href=""><img src="../iconos/youtube.svg" alt="" height="35px"></a>
        </div>
      </div>
    </div>
  </footer>
  