<!DOCTYPE html>
<html>
<head>
  <title>eCommerce</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  <!-- Navbar -->
 
  <%- include('navbar') %>

   <!-- Contenido principal -->
 
  <div class="main-content">
    <h1 class="text-center text-light pt-5">Que producto deseas comprar?</h1>
    <div class="container vh-100">
      <div class="row h-100 justify-content-center ">
       
        <div class="col-sm-6 col-md-4 col-lg-3 p-2 d-flex pt-5">
          <div class="card text-center w-100" style="background-color: rgba(8, 9, 17, 0.705); height: 300px;">
            <div>
              <img src="images/autos/chevrolet.jpg" class="card-img-top" alt="" height="150px">
              <div class="card-body">
                <h3 class="text-light font-weight-bold text-decoration-none">Autos</h3>
              </div>
            </div>
           
           <div class="mx-auto ">
            <a href="/autos" class="m-3 p-1 btn btn-outline-light text-center text-decoration-none w-75" style="height: 30px;">
              <p class="small"> Ver más</p>
            </a>
           </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 p-2 d-flex pt-5">
          <div class="card text-center w-100" style="background-color: rgba(8, 9, 17, 0.705); height: 300px;">
            <div>
              <img src="images/productos/llantas.jpg" class="card-img-top" alt="" height="150px">
              <div class="card-body">
                <h3 class="text-light font-weight-bold text-decoration-none">Productos</h3>
              </div>
            </div>
           
           <div class="mx-auto ">
            <a href="/products" class="m-3 p-1 btn btn-outline-light text-center text-decoration-none w-75" style="height: 30px;">
              <p class="small"> Ver más</p>
            </a>
           </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  
 


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Footer -->
  <!-- Incluye el footer -->
  <%- include('footer') %>
</body>
</html>
