<!-- navbar.ejs -->
   
<nav class="navbar rounded navbar-expand-lg row navbar-dark  "  style=" justify-content: space-between; background-color: rgba(37, 36, 36, 0.801); width: 90%; backdrop-filter: blur(1px); margin: 0 auto;">
    <a class="col-7  col-xl-8 navbar-brand mx-2 text-uppercase font-weight-bold" href="/"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
     lpp
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse col  justify-content-end pointer " id="navbarNav">
      <ul class="navbar-nav p-2  ">

        <li class="d-flex justify-content-center pointer mx-xl-3 mx-lg-3">
         <a class="d-flex text-light text-decoration-none " href="/cart">
            <div class="row mr-1">
               <img  src="https://cdn.jsdelivr.net/gh/persano/MaximusWebFonts@1.8.5.5.1/fi-rr-shopping-cart.svg" height="20px" alt="imagen de enlace" class="position-relative">
               <small  class="position-absolute rounded-circle ml-2   px-1 " style="font-size: x-small; background: #6b2751;">
                  <%= cartSize %>
               </small> 
               </div>
               <p class="h5 ">Mi carrito</p> 
            </a>
         </li>

        <li class=" d-flex justify-content-center pointer ">

          <% if (typeof session !== 'undefined' && typeof session.usuario !== 'undefined') { %>
          <a href="/perfil" class="d-flex align-items-center  text-light "> 
            <img class="mb-2" height="15px"  alt="imagen de enlace" src="https://cdn.jsdelivr.net/gh/persano/MaximusWebFonts@1.8.5.5.1/fi-rr-user.svg" >
            <p class=" h5 ml-1">Mi perfil</p>
            </a>
        <% } else { %>
          <a href="/login" class=" d-flex text-light align-items-center"> 
            <img class=" mb-2" href="https://www.maximus.com.ar/LOGIN/login/maximus.aspx" src="https://cdn.jsdelivr.net/gh/persano/MaximusWebFonts@1.8.5.5.1/fi-rr-user.svg" height="17px" alt="imagen de enlace" >
             <p class="h5 ml-1 ">Iniciar sesión</p>
            </a>
        <% } %>
        </li>
        
      </ul>
      
      
      
     
     
      
    </div>
  </nav>
  