<!DOCTYPE html>
<html>
<head>
  <title>eCommerce</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <!-- Navbar -->
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/about">Acerca de</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>

  <!-- Contenido principal -->
  <div class="main-content">
    <h1>producto</h1>
    <ul>
      <% products.forEach(product => { %>
        <li>
          <a href="">
            <%= product.name %> - <%= product.price %> USD
          </a>
          <form action="/addToCart" method="POST">
            <input type="hidden" name="productId" value="<%= product.id %>">
            <button type="submit">Comprar</button>
          </form>
        </li>
      <% }); %>
    </ul>
  </div>

  <!-- Footer -->
  <footer>
    <p>Todos los derechos reservados &copy; 2023</p>
  </footer>
</body>
</html>
