<!DOCTYPE html>
<html>
<head>
  <title>eCommerce</title>
  
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  <!-- Navbar -->
  <%- include('navbar') %>

   <!-- Contenido principal -->
 
   <div class="main-content ">
   <div class="container mx-auto  py-5" >
     <h2 class=" my-5 font-weight-bold" style="color:#ffffff;"><svg xmlns="http://www.w3.org/2000/svg" class="mx-2 mb-1 " height="30px" viewBox="0 0 448 512"><style>svg{fill:#f7f7f7}</style><path  fill="#00000" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg> <%= session.usuario %></h2>
    <div class=" py-3 m-3 d-flex flex-row" style="background-color: rgba(37, 36, 36, 0.801);"><a href="" class="text-white"><h5 class="text-white "><svg xmlns="http://www.w3.org/2000/svg" height="1em" class="mx-3" viewBox="0 0 576 512"><style>svg{fill:#ffffff}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 256h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zm256-32H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg> Mis datos</h5></a></div>
  
    <div class=" py-3 m-3 d-flex flex-row" style="background-color: rgba(37, 36, 36, 0.801);"><a href="/cart" class="text-white"><h5 class=""> <svg xmlns="http://www.w3.org/2000/svg" height="1em" class="mx-3" viewBox="0 0 576 512"><style>svg{fill:#ffffff}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>Mi carrito</h5></a>  </div>
    
    <div class="d-flex justify-content-center "><a class="btn btn-danger m-3 p-3 " href="/logout">Cerrar session</a>  </div>
  </div>
  
  </div>
  
  
  
 


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Footer -->
  <!-- Incluye el footer -->
  <%- include('footer') %>
</body>
</html>
