<html>
<head>
  <title>Gracias por tu compra</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Navbar -->
  <%- include('navbar') %>

  <div class="main-content text-light text-center py-5">
    <h1>¡Gracias por tu compra!</h1>
  <p>¡Hemos recibido tu pedido y estamos procesándolo!</p>

     <a href="/" class="btn btn-success text-light">Volver a la tienda</a>
    


  <!-- Aquí puedes agregar cualquier otro contenido adicional, como detalles del pedido, número de seguimiento, etc. -->
  </div>
   <!-- Incluye el footer -->
  <%- include('footer') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>