<html>
<head>
  <title>Gracias por tu compra</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Navbar -->
  <%- include('navbar') %>

  <div class="main-content text-light text-center py-5">
    <div class="container-fluid  text-center mt-4	mx-auto p-5 ">
      <img class="my-5" src="https://cdn.jsdelivr.net/gh/persano/MaximusWebFonts@1.8.5.5.1/fi-rr-shopping-cart.svg" height="130px " alt="imagen de enlace" class="position-relative">
      <h3>
      Gracias Por tu compra!
      </h3>
      <p>Hemos enviado los detalles de tu compra via mail</p>
     <a href="/" class="btn btn-success text-light">Seguir comprando</a>
    
    </div>

  
  </div>
   <!-- Incluye el footer -->
  <%- include('footer') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>