<html>
<head>
  <title>Gracias por tu compra</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Navbar -->
  <%- include('navbar') %>

  <div class="main-content text-light text-center py-5">
    <div class="container-fluid  text-center mt-4	mx-auto p-5 ">
      <p class="text-light"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -31 512 512" style="width: 7em; margin-right: auto; margin-left: auto; display: block;"><defs></defs> <path d="M165 300h272a15 15 0 0014.4-10.9l60-210A15 15 0 00497 60H130.4l-10.8-48.3A15 15 0 00105 0H15a15 15 0 100 30h78L147 273.7A45 45 0 00165 360h272a15 15 0 100-30H165a15 15 0 010-30zM477 90l-51.4 180H177L137 90zm0 0"></path> <path d="M150 405a45 45 0 1090.1-.1 45 45 0 00-90.1.1zm45-15a15 15 0 110 30 15 15 0 010-30zm0 0M362 405a45 45 0 1090.1-.1 45 45 0 00-90.1.1zm45-15a15 15 0 110 30 15 15 0 010-30zm0 0"></path></svg></p>
      <h3>
      Gracias Por tu compra!
      </h3>
      <p>Hemos enviado los detalles de tu compra via mail</p>
     <a href="/" class="btn btn-success text-light">Seguir comprando</a>
    
    </div>

  
  </div>
   <!-- Incluye el footer -->
  <%- include('footer') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>