@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Montserrat:wght@400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body {
  margin: 0%;
  color: #212529 !important;
  background-color: #d8d8d8 !important;
  list-style: none !important;
  font-family: 'Inclusive Sans', sans-serif;

}

#banner {
  background-image: url("../images/bannerimg.jpg");

  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 690px;
  background-size: cover;
  position: relative;
  background-position: center;
}

input::placeholder {
  color: white;
}

/* Estilos para el contenido principal */
.main-content {
  min-height: calc(100vh - 70px);
  padding: 20px;
}

/* Estilos para el footer */
footer {

  color: #fff;
  padding: 10px;
  text-align: center;

  bottom: 0;
  left: 0;
  width: 100%;
}


#card:hover {
  border: 1px solid black;


}




@media only screen and (max-width: 1276px) {

  #banner {
    height: 380px;
  }

}


@media only screen and (min-width: 1276px) and (max-width:1800px) {

  #banner {
    height: 680px;
  }


}

table,
td,
tr,
#total {
  background-color: #eeecec !important;
}

#border {
  border-top: 1px solid rgba(53, 53, 53, 0.26)
}


input::placeholder,
option {
  color: black;
}