@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Montserrat:wght@400;500&display=swap');

body{
    margin: 0%;
    background-color: #a5a5a5!important;
    color: rgb(0, 0, 0);
    list-style: none!important;
    font-family: 'Inclusive Sans', sans-serif;
  font-family: 'Montserrat', sans-serif!important;
}

  
 /* Estilos para el contenido principal */
.main-content {
    min-height: calc(100vh - 70px); 
    padding: 20px;
  }
  
  /* Estilos para el footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
    bottom: 0;
    left: 0;
    width: 100%;
  }
  



  @media only screen and (max-width: 576px) {
  .producto .card{
    height: 430px;
   }
  }
  
  @media only screen and (min-width: 576px) {
    .producto .card{
      height: 330px;
     }
}