/*background-image: url('../images/wallpaper.jpg'); 
background-repeat: no-repeat;
*/



body{
    margin: 0%;
    background-color: #313131!important;
    color: aliceblue;
    font-family: sans-serif!important;
    list-style: none!important;
}

  
 /* Estilos para el contenido principal */
.main-content {
    min-height: calc(100vh - 70px); 
    padding: 20px;
  }
  
  /* Estilos para el footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
    bottom: 0;
    left: 0;
    width: 100%;
  }
  



  @media only screen and (max-width: 576px) {
  .producto .card{
    height: 430px;
   }
  }
  
  @media only screen and (min-width: 576px) {
    .producto .card{
      height: 330px;
     }
}